div:hover {
border: 8px solid yellow;
}
div:nth-of-type(1) {
    background-color: violet;
  }
  
  div:nth-of-type(2) {
    background-color: grey;
  }
  
  div:nth-of-type(3) {
    background-color: brown;
  }
  
  div:nth-of-type(4) {
    background-color: coral
  }
  
  div:nth-of-type(5) {
    background-color:blue;
  }
  div:nth-of-type(1) > h3 {
    font-size: 18px;
  }
  div:nth-of-type(2) > h3 {
    font-family: 'Segoe UI';
  }
  
  div:nth-of-type(3) > h3 {
    font-style: italic
  }
  
  div:nth-of-type(4) > h3 {
    font-family: monospace;
  }
  
  div:nth-of-type(5) > h3 {
    color: white;
  }
  div:nth-of-type(3) {
    height: 50px;
  }
  div:nth-child(odd) h3 {
    font-style: italic;
  }